body {
    font-family: Arial, sans-serif;
    background-color: #ffb6c1; /* Pembe arka plan */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #fff; /* Beyaz yazı */
}

.masal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #ff0000; /* Kırmızı butonlar */
    color: #fff; /* Beyaz yazı */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #cc0000; /* Buton hover rengi */
}
