/* Define a color palette */
.primary-color {
    background-color: #FFC5C5; /* pink */
}

.secondary-color {
    color: #FF0000; /* red */
}

.background-color {
    background-color: #FFFFFF; /* white */
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF; /* white */
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #FFC5C5; /* pink */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #FF0000; /* red */
    font-size: 36px;
    margin-bottom: 20px;
}

.masal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    background-color: #FFC5C5; /* pink */
    color: #FF0000; /* red */
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #FFA8A8; /* darker pink */
}

button:active {
    background-color: #FF8B8B; /* even darker pink */
}
